---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "home.scss";
@import "download.scss";

h1 {
    margin-bottom: 0.7em;
}

article h2 a {
    color: inherit;
}

article time {
    display: block;
    float: right;
    font-weight: bold;
    margin-top: -2.4em;
}

article p.author {
    float: right;
}

article + hr {
    clear: both;
}

nav.pagination a,
nav.pagination span {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
