---
title: "User Support"
konqi: "/assets/img/konqi-docbook.png"
---

<h1>User Support</h1>

<h2>Need Help?</h2>

<p>
Probably the best way to get direct help with any problem is <a href="irc://irc.libera.chat/kgeotag">KGeoTag's IRC Channel</a> on <a href="https://libera.chat/">Libera.chat</a> or – maybe meanwhile more contemporary – <a href="https://webchat.kde.org/#/room/#kgeotag:kde.org">KGeoTag's Matrix Channel</a>. No matter which one you choose: Please be a bit patient, it may take some hours or even days until someone responds.
</p>

<p>
Also feel free to join <a href="https://mail.kde.org/cgi-bin/mailman/listinfo/kgeotag/">KGeoTag's mailing list</a> and ask for support.
</p>

<p>
You may also want to checkout the <a href="https://forum.kde.org/">KDE Community Forums</a>.
</p>

<p>
As of January 2024, it's not there yet, but maybe, you want to be the first user to write something about KGeoTag on the <a href="https://userbase.kde.org/KGeoTag">KDE Userbase Wiki</a> ;-)
</p>

<h2>Found a Bug?</h2>

<p>
Bugs in software happen. If you found some in {{ site.title }}, please report them via <a href="https://bugs.kde.org/enter_bug.cgi?product=kgeotag">Bugzilla</a>. Please do not report bugs on forums or mailinglists - such reports will most likely be overlooked or forgotten by the developers quite soon. To make sure the bug gets noticed by developers and fixed as soon as possible, report it into Bugzilla.
</p>

<h2>Missing a Feature?</h2>

<p>
KGeoTag has been written with the <a href="https://en.wikipedia.org/wiki/Unix_philosophy">UNIX philosophy</a> in mind ("Do one thing, but do it well"). It's (only) about convenient and easy geotagging of photos (not that KGeoTag is considered feature-complete yet ;-). Having this in mind, feel free to file a feature request using <a href="https://bugs.kde.org/enter_bug.cgi?product=kgeotag">Bugzilla</a>!
</p>
