---
title: "News"
---

{% if paginator.page == 1 %}
<h1>News</h1>
{% else %}
<h1>News (page {{ paginator.page }})</h1>
{% endif %}

<div class="announcement-feed mb-3">
{% for post in paginator.posts %}

<article class="mb-4">

<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>

{{ post.content }}
</article>

<hr/>
{% endfor %}
{% if paginator.total_pages > 1 -%}
<nav class="pagination justify-content-center mt-3">
{%- include pages_list.html -%}
</nav>
{% endif %}
</div>
