---
layout: default
---

<main class="navfix container" aria-label="Content">

<article>

<h1>News</h1>

<h2>{{ page.title }}</h2>
<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>

{{ content }}

</article>

</main>
